<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main_layout">
<th:block layout:fragment="body_main">

    <main role="main">
        <div class="container-fluid py-5">
            <div  class="row">
                <div class="col-sm-3 col-md-2 sidebar pt-4">
                    <ul class="nav nav-sidebar">
                        <li class="active"><a href="#"> 주문목록<span class="sr-only"></span></a></li>
                        <li class="active"><a href="#"> 회원정보변경</a></li>
                        <li class="active"><a href="#"> 비밀번호변경</a></li>
                        <li class="active"><a href="#"> 회원탈퇴</a></li>
                    </ul>
                </div>
                <div class="col-md-8 order-md-1">
                    <h1 class="pt-5 py-2">회원탈퇴</h1>
                    <form class="needs-validation" method="post" novalidate>
                        <div class="row">
                            <div class="col-md-12 mb-3 pt-5">
                                <label for="password">비밀번호 확인</label>
                                <input type="password" class="form-control" id="password">
                                <div class="invalid-feedback">
                                    Valid first name is required.
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="text-center pt-5">
                <button type="button" class="btn btn-secondary btn-lg">탈퇴하기</button>
            </div>
        </div>
    </main>

</th:block>
</html>


