<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main_layout">--><html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main_layout">
<th:block layout:fragment="html_head">
    <title>장바구니</title>
</th:block>
<th:block layout:fragment="body_main">
    <br>
    <br>
    <br>
    <main role="main">
       <div class="container">
           <div class="row">
               <ul class="nav nav-tabs">
                   <li class="nav-item">
                       <a class="nav-link active">장바구니</a>
                   </li>
                   <li class="nav-item disabled">
                       <a class="nav-link">주문결제</a>
                   </li>
                   <li class="nav-item disabled">
                       <a class="nav-link">주문완료</a>
                   </li>
                   <li class="nav-item disabled" style="width: 1000px;">
                   </li>
               </ul>
           </div>
           <div class="row">
               <h1 class="my-4 font-weight-bold">장바구니</h1>
           </div>
           <br>

           <form id="cartForm" name="cartForm" method="post">
               <div class="row">
                   <table class="table table-striped text-center">
                       <thead>
                       <tr>
                           <th scope="col" width="20%"></th>
                           <th scope="col" width="40%">상품명</th>
                           <th scope="col" width="15%">수량</th>
                           <th scope="col" width="15%">가격</th>
                           <th scope="col" width="10%"><input type="checkbox" id="checkAll"/></th>
                       </tr>
                       </thead>
                       <tbody>
                           <tr th:if="${cart != null}" th:each="item : ${cart}">
                               <td>
                                   <img th:width="100px" th:src="@{'/image/'+${item.imageId}}" src="#" alt="img1" class="img-thumbnail" />
                               </td>
                               <td class="justify-content-center align-middle">
                                   <a th:href="@{'/products/'+${item.prdId}}" href="#"><span th:text="${item.productName}"></span></a>
                               </td>
                               <td class="justify-content-center align-middle" th:text="${item.quantity}"></td>
                               <td class="justify-content-center align-middle" th:text="${item.quantity * item.price}"></td>
                               <input type="hidden" name="itemPrice" th:value="${item.quantity * item.price}">
                               <input type="hidden" name="quantity" th:value="${item.quantity}">
                               <input type="hidden" name="productName" th:value="${item.productName}">
                               <td class="justify-content-center align-middle">
                                   <input type="checkbox" name="prdId" th:value="${item.prdId}" value="" th:id="'chk_'+${item.prdId}"/>
                               </td>
                           </tr>
                       </tbody>
                   </table>
               </div>
               <div class="row">
                   결제 금액 : 총&nbsp;<span id="totalPrice">0</span>원
               </div>
               <div class="row justify-content-end">
                   <input id="wishlistBtn" class="btn btn-primary btn-sm" type="button" value="선택 찜하기" />
                   &nbsp;&nbsp;&nbsp;
                   <input id="deleteBtn" class="btn btn-secondary btn-sm" type="button" value="선택 삭제" />
               </div>
               <br>
               <div class="row justify-content-center">
                   <input id="orderAllBtn" type="button" class="btn btn-primary"  value="전체 구매" />
                   &nbsp;&nbsp;&nbsp;&nbsp;
                   <input id="continueBtn" type="button" class="btn btn-secondary" value="계속 쇼핑하기" />
               </div>
           </form>
       </div>

    </main>
</th:block>
<th:block layout:fragment="footer_script">
    <script th:inline="javascript">
        /*<![CDATA[*/

            var productsUrl = /*[[@{/products}]]*/ 'products';
            var cartUrl = /*[[@{/api/order/cart}]]*/ 'cart';
            var wishlistUrl = /*[[@{/api/wishlist}]]*/ 'wishlist';
            var orderUrl = /*[[@{/order/orderform}]]*/ 'order';

        /*]]>*/

        $(document).ready(function () {

            setTotalPrice();

            $("#checkAll").on("click", function () {
                var length = cartForm.prdId.length;
                if(!length) {
                    cartForm.prdId.checked = cartForm.checkAll.checked;
                }
                else {
                    for(var i = 0; i < length; i++) {
                        cartForm.prdId[i].checked = cartForm.checkAll.checked;
                    }
                }
            });

            $("#continueBtn").on("click", function () {
                location.href = productsUrl;
            });

            $("#deleteBtn").on("click", function () {
                if(!confirm("선택하신 상품을 삭제하시겠습니까?")) {
                    return;
                }
                var prdIdArray = makePrdIdArray();
                if(prdIdArray.length == 0) {
                    alert("하나 이상의 상품을 선택해 주세요.");
                    return;
                }
                executeDelete(prdIdArray);
            });// deleteBtn

            $("#orderAllBtn").on("click", function () {
                var length = cartForm.prdId.length;
                if(!length) {
                    cartForm.prdId.checked = true;
                }
                else {
                    for(var i = 0; i < length; i++) {
                        cartForm.prdId[i].checked = true;
                    }
                }
                cartForm.action = orderUrl;
                cartForm.submit();
            });


        }); // ready

        var setTotalPrice = function () {
            if(!cartForm.itemPrice) {
                return;
            }
            var length = cartForm.itemPrice.length;
            var sum = 0;
            if(!length) {
                sum = parseInt(cartForm.itemPrice.value);
            }
            else {
                for(var i = 0; i < length; i++) {
                    sum += parseInt(cartForm.itemPrice[i].value);
                }
            }

            $("#totalPrice").text(sum);
        };

        var makePrdIdArray = function () {
            var prdIdArray = new Array();
            var length = cartForm.prdId.length;
            if(!length) {
                if(cartForm.prdId.checked) {
                    prdIdArray.push({prdId : cartForm.prdId.value});
                }
            }
            else {
                for(var i = 0; i < length; i++) {
                    if(cartForm.prdId[i].checked) {
                        prdIdArray.push({prdId : cartForm.prdId[i].value});
                    }
                }
            }
            return prdIdArray;
        }

        var executeDelete = function (prdIdArray) {
            sendJson(cartUrl, "delete", prdIdArray, function (data) {
                var length = cartForm.prdId.length;
                if(!length) {
                    removeTr(cartForm.prdId);
                }
                else {
                    for(var i = 0; i < length; i++) {
                        if(cartForm.prdId[i].checked) {
                            removeTr(cartForm.prdId[i--]);
                            length--;
                        }
                    }
                }
            }); // sendJson
        }

        var sendJson = function(url, method, sendData, successFunction) {
            $.ajax({
                method: method,
                url: url,
                contentType: 'application/json',
                data: JSON.stringify(sendData)
            })
            .done(successFunction)
            .fail(function (xhr) {
                console.log(xhr);
                alert("일시적인 장애가 발생하였습니다. 다시 시도해주세요.");
            });
        }
        
        var removeTr = function (obj) {
            $(obj).parent().parent().remove();
        }

    </script>

</th:block>
</html>
