<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main_layout">--><html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main_layout">
<th:block layout:fragment="html_head">
    <title>주문 페이지</title>
</th:block>
<th:block layout:fragment="body_main">
    <br>
    <br>
    <br>
    <main role="main">
        <div class="container">
            <div class="row">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">장바구니</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">주문결제</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">주문완료</a>
                    </li>
                    <li class="nav-item" style="width: 1000px;">
                    </li>
                </ul>
            </div>
            <div class="row">
                <h1 class="my-4">주문결제</h1>
            </div>
            <div class="row">
                <table class="table table-striped text-center">
                    <thead>
                    <tr>
                        <th scope="col">상품명</th>
                        <th scope="col">수량</th>
                        <th scope="col">가격</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <img src="..." alt="img1" class="img-thumbnail">abc
                        </td>
                        <td>1</td>
                        <td>3,000</td>
                    </tr>
                    <tr>
                        <td>
                            <img src="..." alt="img2" class="img-thumbnail">efg
                        </td>
                        <td>2</td>
                        <td>6,500</td>
                    </tr>
                    <tr>
                        <td>
                            <img src="..." alt="img3" class="img-thumbnail">hij
                        </td>
                        <td>3</td>
                        <td>7,000</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                결제 금액 : 총 23,700원
            </div>
            <div class="row">
                <h2 class="my-4">배송정보</h2>
            </div>
                <form>
                    <fieldset class="form-group">
                        <div class="row">
                            <legend class="col-form-label col-sm-2 pt-0">배송지 선택</legend>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                                    <label class="form-check-label" for="gridRadios1">
                                        회원 정보와 동일
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                                    <label class="form-check-label" for="gridRadios2">
                                        새로운 배송지
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group row">
                        <label for="inputName" class="col-sm-2 col-form-label">받으시는 분</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputName" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputAddress" class="col-sm-2 col-form-label">주소</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputAddress" placeholder="우편번호">
                            <input type="password" class="form-control my-1" id="inputAddress2" placeholder="지역주소">
                            <input type="password" class="form-control my-1" id="inputAddress3" placeholder="상세주소">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPhoneNumber" class="col-sm-2 col-form-label">전화번호</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPhoneNumber" placeholder="Phone Number">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail" class="col-sm-2 col-form-label">이메일</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputEmail" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-2 col-form-label">배송메시지</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                        </div>
                    </div>

                    
                    <div class="row justify-content-center">
                        <button type="submit" class="btn btn-primary">결제하기</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="submit" class="btn btn-secondary">뒤로가기</button>
                    </div>
                </form>
        </div>

    </main>
</th:block>
</html>
