<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main_layout">--><html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main_layout">
<th:block layout:fragment="html_head">
    <title>주문 완료</title>
</th:block>
<th:block layout:fragment="body_main">
    <br>
    <br>
    <br>
    <main role="main">
        <div class="container">
            <div class="row">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link disabled">장바구니</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">주문결제</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active">주문완료</a>
                    </li>
                    <li class="nav-item" style="width: 1000px;">
                    </li>
                </ul>
            </div>
            <div class="row">
                <h1 class="my-4 font-weight-bold">주문완료</h1>
            </div>
            <br>
            <form id="orderForm" method="post" th:action="@{/order/order}" action="#">
                <div class="row">
                    <table class="table table-striped text-center">
                        <thead>
                        <tr>
                            <th scope="col" width="20%"></th>
                            <th scope="col" width="40%">상품명</th>
                            <th scope="col" width="15%">수량</th>
                            <th scope="col" width="15%">가격</th>
                            <th scope="col" width="10%"></th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:if="${orderItems != null}" th:each="item : ${orderItems}">
                                <td>
                                    <img th:width="100px" th:src="@{'/image/'+${item.orderImages[0].id}}" src="#" alt="img1" class="img-thumbnail" />
                                </td>
                                <td class="justify-content-center align-middle">
                                    <a th:href="@{'/products/'+${item.product.id}}" href="#"><span th:text="${item.productName}"></span></a>
                                </td>
                                <td class="justify-content-center align-middle" th:text="${item.quantity}"></td>
                                <td class="justify-content-center align-middle" th:text="${item.quantity * item.productPrice}"></td>
                                <input type="hidden" name="quantity" th:value="${item.quantity}">
                                <td class="justify-content-center align-middle">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </table>
                </div>
                <div class="row">
                    결제 금액 : 총&nbsp;<span th:text="${totalPrice+' 원'}">23700 원</span>
                </div>
                <br>
                <div class="row">
                <h3 class="my-4 font-weight-normal">배송정보</h3>
            </div>
                <div class="form-group row">
                    <label for="receiver" class="col-sm-2 col-form-label">받으시는 분</label>
                    <div class="col-sm-10">
                        <input type="text" th:value="${order.receiver}" class="form-control-plaintext col-3" readonly name="receiver" id="receiver">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">주소</label>
                    <div class="col-sm-10">
                        <input type="text" th:value="${order.address.zipcode}" class="form-control-plaintext col-3" readonly id="adrZipcode" name="adrZipcode" placeholder="우편번호">
                        <input type="text" th:value="${order.address.location}" class="form-control-plaintext my-1" readonly id="adrLocation" name="adrLocation" placeholder="지역주소">
                        <input type="text" th:value="${order.address.detail}" class="form-control-plaintext my-1" readonly id="adrDetail" name="adrDetail" placeholder="상세주소">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="phone" class="col-sm-2 col-form-label">전화번호</label>
                    <div class="col-sm-10">
                        <input type="text" th:value="${order.address.phone}" class="form-control-plaintext" readonly id="phone" name="phone" placeholder="000-0000-0000 형태로 입력해 주세요.">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="message" class="col-sm-2 col-form-label">배송메시지</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control-plaintext" readonly id="message" name="message" th:value="${order.message == null ? '' : order.message}" placeholder="배송 메시지를 적어주세요.">
                    </div>
                </div>
                <div class="row">
                    <h3 class="my-4 font-weight-normal">입금계좌 정보</h3>
                </div>
                <div class="form-group row">
                    <label for="bank" class="col-sm-2 col-form-label">은행명</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control-plaintext" readonly id="bank" name="bank" value="좋은 은행">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="account" class="col-sm-2 col-form-label">계좌번호</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control-plaintext" readonly id="account" name="account" value="123-456-7890">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="depositor" class="col-sm-2 col-form-label">입금자명</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control-plaintext" readonly id="depositor" name="depositor" th:value="${order.bankAccount.depositor}" placeholder="입금하시는 분의 이름을 적어주세요.">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <input id="orderBtn" type="button" onclick="location.href='/'" class="btn btn-dark" value="메인페이지">
                </div>
            </form>
        </div>
    </main>
</th:block>
<th:block layout:fragment="footer_script">
    <script>

    </script>
</th:block>
</html>
