<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main_layout">
<th:block layout:fragment="body_main">
    <main role="main">
        <div class="album py-5 bg-light">
            <div class="jumbotron text-center bg-light">
                <h1 class="jumbotron-heading">Best sellers</h1>
            </div>
            <div class="container-fluid col-11">
                <div class="row">
                    <div class="col-lg-3 col-md-3portfolio-item" th:if="${not #lists.isEmpty(bestSellers)}" th:each="bestSeller : ${bestSellers}">
                        <div class="card mb-3 box-shadow">
                            <a th:href="@{'/products/'+${bestSeller.id}}" href="#"><img th:src="@{'/image/'+${bestSeller.getDetailImages[0].id}}" class="card-img-top" src="//99nerds.io/web/detailProduct/medium/201712/103_shop1_470881.png"></a>
                            <div class="card-body d-flex justify-content-between">
                                <a th:href="@{'/products/'+${bestSeller.id}}" href="#"><span th:text="${bestSeller.name}"></span></a>
                                <div><span th:text="${bestSeller.price}+'원'">6,900원</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a th:href="@{/products}"><button type="button" class="btn btn-secondary btn-lg">상품 더보기</button></a>
            </div>
        </div>
    </main>
</th:block>
</html>
