<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main_layout">
<th:block layout:fragment="body_main">
    <main role="main">
        <div class="album py-5 bg-light">
            <div class="jumbotron text-center bg-light">
                <h1 class="jumbotron-heading">Best sellers</h1>
            </div>
            <div class="container">
                <!--<div class="row-area" th:each="product: ${products}">-->
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <!--<img th:src="@{}"/>-->
                        <a href="#"><img  class="card-img-top" src="//99nerds.io/web/product/medium/201712/103_shop1_470881.png"></a>
                        <div class="card-body d-flex justify-content-between">
                            <!--<span th:text="${product.name}">-->
                            <a href="#"><span>Best STICKER</span></a>
                            <!--<span th:text="${product.price}">-->
                            <div><span>6,900원</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-secondary btn-lg">상품 더보기</button>
            </div>
        </div>
    </main>
</th:block>
</html>
