spring:
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
  thymeleaf:
    cache: false
    check-template: true
    check-template-location: true
    enabled: true
    encoding: UTF-8
    # excluded-view-names:
    # mode: HTML5
    prefix: classpath:/templates/
    suffix: .html
    # template-resolver-order:
    # view-names:

  datasource:
    url: jdbc:mysql://localhost:3306/shoppingmall
    username: fastcampus
    password: fastcampus

logging:
  level:
    root: info
    com:
      project: debug