spring:
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        type:
          descriptor:
            sql:
              BasicBinder: TRACE


  datasource:
    url: jdbc:h2:mem:shoppingmall
    username: fastcamp
    password: fastcamp
  h2:
    console:
      enabled: true

image:
  path: D:/image