<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main_layout}">
<th:block layout:fragment="html_head">
    <title>상품목록</title>
</th:block>
<th:block layout:fragment="body_main">
    <br/>
    <br/>
    <main role="main">
        <!-- Page Content -->
        <div class="container">

            <div class="row">
                <div class="col-lg-3">

                    <h1 class="my-4">Shop Name</h1>
                    <div class="list-group">
                        <th:block th:each="category : ${categories}">
                            <a href="#" th:href="@{/products(prd_cate=category.name)}" class="list-group-item" th:text="${category.name}">Category 1</a>
                        </th:block>

                        <!--<a href="#" th:href="@{/products}" class="list-group-item">Category 2</a>
                        <a href="#" th:href="@{/products}" class="list-group-item">Category 3</a>-->
                    </div>

                </div>
                <!-- /.col-lg-3 -->

                <div class="col-lg-9">
                    <br>
                    <nav class="navbar navbar-light">
                        <form class="form-inline" name="searchForm" id="searchForm" th:action="@{/products}" method="get">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="searchStr">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                        <span class="navbar-text">
                            <a th:href="@{/products(page=1, sortType=recent)}" href="#">최신순</a>
                            &nbsp;&nbsp;<a href="#">인기순</a>
                            &nbsp;&nbsp;<a href="#">가격오름순</a>
                            &nbsp;&nbsp;<a href="#">가격내림순</a>
                        </span>
                    </nav>
                    <br>

                    <div class="row">
                        <div class="col-lg-3 col-md-3portfolio-item" th:if="${not #lists.isEmpty(products)}" th:each="product : ${products}">
                            <div class="card mb-3 box-shadow">
                                <!--<img th:src="@{}"/>-->
                                <a href="#"><img th:src="@{'/image/'+${product.images[0].id}}"  class="card-img-top" src="//99nerds.io/web/product/medium/201712/103_shop1_470881.png"></a>
                                <div class="card-body d-flex justify-content-between">
                                    <!--<span th:text="${products.name}">-->
                                    <a href="#"><span th:text="${product.name}"></span></a>
                                    <!--<span th:text="${products.price}">-->
                                    <div><span th:text="${product.price}+'원'">6,900원</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                    <br>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">&lt;</a>
                            </li>
                            <li class="page-item"><a class="page-link" th:href="@{/products(page=1)}" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" th:href="@{/products(page=2)}" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" th:href="@{/products}" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" th:href="@{/products}" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" th:href="@{/products}" href="#">5</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">&gt;</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- /.col-lg-9 -->

            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </main>
</th:block>
<th:block layout:fragment="footer_script">
    <script>

    </script>
</th:block>
</html>
