<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main_layout}">
<th:block layout:fragment="html_head">
    <title>상품페이지</title>
</th:block>
<th:block layout:fragment="body_main">
    <br>
    <br>
    <main role="main">
        <!-- Page Content -->
        <div class="container">

            <div class="row">

                <div class="col-lg-3">
                    <h1 class="my-4">Shop Name</h1>
                    <div class="list-group">
                        <a href="#" class="list-group-item active">Category 1</a>
                        <a href="#" class="list-group-item">Category 2</a>
                        <a href="#" class="list-group-item">Category 3</a>
                    </div>
                </div>
                <!-- /.col-lg-3 -->

                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="card mt-4">
                                <img class="card-img-top img-fluid" src="http://placehold.it/900x400" alt="">
                            </div>
                        </div>
                        <!-- 상품정보 -->
                        <div class="col-lg-7">
                            <br>
                            <form>
                                <h2>상품이름</h2>
                                <div class="form-group row" style="margin-bottom: 0; margin-top: 0">
                                    <label for="price" class="col-md-3 col-form-label">&nbsp;판매가</label>
                                    <div class="col-md-9">
                                        <input type="text" readonly class="form-control-plaintext" id="price" value="1000 원">
                                    </div>
                                </div>
                                <div class="form-group row" style="margin-bottom: 0; margin-top: 0">
                                    <label for="width" class="col-md-3 col-form-label">&nbsp;사이즈</label>
                                    <div class="col-md-9">
                                        <input type="text" readonly class="form-control-plaintext" id="width" value="200&nbsp;X&nbsp;200&nbsp;mm">
                                    </div>
                                </div>
                                <div class="form-row" style="margin-bottom: 0; margin-top: 0">
                                    <div class="col-md-6 mb-3">
                                        <label for="quantity">&nbsp;상품수량</label>
                                        <input type="number" style="text-align: right" name="quantity" class="form-control col-md-6" id="quantity" value="0">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="total">총 금액</label>
                                        <input type="text" class="form-control-plaintext" id="total" name="total" value="1000" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input class="btn btn-dark col-md-5" type="button" value="장바구니">
                                    <input class="btn btn-dark col-md-5" type="submit" value="찜하기">
                                </div>
                                <div class="form-group">
                                    <input class="btn btn-success col-md-10" type="button" value="바로구매">
                                </div>
                            </form>
                        </div>
                        <!-- 상품정보 끝 -->
                    </div>
                    <!-- /.card -->
                    <div class="card card-outline-secondary my-4">
                        <div class="card-header">
                            Product Reviews
                        </div>
                        <div class="card-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                            <hr>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                            <hr>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                            <hr>
                            <a href="#" class="btn btn-success">Leave a Review</a>
                        </div>
                    </div>
                    <!-- /.card -->

                </div>
                <!-- /.col-lg-9 -->

            </div>

        </div>
        <!-- /.container -->
    </main>
</th:block>
<th:block layout:fragment="footer_script">
    <script>
        $(document).ready(function () {
            $("#quantity").on("click", function () {
                if($("#quantity").val() < 0) {
                    $("#quantity").val(0);
                }
            });
        });
    </script>
</th:block>
</html>
