<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Album example for Bootstrap</title>

<!-- Bootstrap core CSS -->
<link th:href="@{/webjars/bootstrap/css/bootstrap.css}" href="" rel="stylesheet">

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/webjars/jquery/jquery.js}" src=""></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.js}" src=""></script>
<script th:src="@{/js/vendor/popper.min.js}" src=""></script>
<script th:src="@{/js/vendor/holder.min.js}" src=""></script>

<!-- Custom styles for this template -->
<link th:href="@{/css/album.css}" href="" rel="stylesheet">

<th:block layout:fragment="html_head"></th:block>