<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <address>
            <p>주소 : 서울특별시 강남구 강남대로 364 미왕빌딩 11층</p>
            <p>이메일 : <a href="mailto:admin@shoppingmall.com" target="_top">admin@shoppingmall.com</a></p>
        </address>
    </div>
</footer>
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/webjars/jquery/jquery.js}" src=""></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.js}" src=""></script>
<script th:src="@{/js/vendor/popper.min.js}" src=""></script>
<script th:src="@{/js/vendor/holder.min.js}" src=""></script>
<th:block layout:fragment="footer_script"></th:block>