<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main_layout">--><html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main_layout">
<th:block layout:fragment="html_head">
    <title>WishList</title>
</th:block>
<th:block layout:fragment="body_main">
    <br>
    <br>
    <br>
    <main role="main">
       <div class="container">
           <div class="row">
               <h1 class="my-4 font-weight-bold">Wish List</h1>
           </div>
           <br>

           <form id = "wishlist_form">
               <div class="row">
                   <table class="table table-striped text-center">
                       <thead>
                       <tr>
                           <th scope="col" colspan="2">상품명</th>
                           <th scope="col">가격</th>
                           <th scope="col"></th>
                       </tr>
                       </thead>
                       <tbody id="test1">
                           <tr th:each="wishItem, iterstat : ${wishList}">
                               <td>
                                   <img th:src="'/image/'+ ${wishItem.product.id}" src="/image/" alt="img1" class="img-thumbnail" height="100px" width="100px" align="right">
                               </td>
                               <td align="left">
                                   <span th:text="${wishItem.product.name}">product</span>
                               </td>
                               <td >
                                   <span th:text="${wishItem.product.price} + '원'">3000원</span>
                               </td>
                               <td>
                                   <div class="form-check">
                                       <input class="form-check-input" type="checkbox" th:name="wishItem_id" th:value="${wishItem.id}">
                                       </label>
                                   </div>
                               </td>
                           </tr>
                       </tbody>
                   </table>
               </div>

               <div class="row justify-content-end">
                   <input id="post_cart_btn" class="btn btn-primary btn-sm" type="submit" value="장바구니에 담기"></input>
                   &nbsp;&nbsp;&nbsp;
                   <input id="delete_wishItem_btn" class="btn btn-secondary btn-sm" type="submit" value="선택 삭제"></input>
               </div>
               <br>
               <div class="row justify-content-center">
                   <input id="get_product_btn" type="submit" class="btn btn-secondary" value="계속 쇼핑하기"></input>
               </div>
           </form>
       </div>

    </main>
</th:block>
<th:block layout:fragment="footer_script">
    <script>
        $(document).ready(function () {
            // $.urlParam = function(page){
            //     var results = new RegExp('[\?&]' + page + '=([^&#]*)').exec(window.location.href);
            //     if (results==null){
            //         return null;
            //     }
            //     else{
            //         return results[1] || 0;
            //     }
            // }

            // var parameter = url.slice(url.indexOf('?') + 1, url.length);
            $("#post_cart_btn").on("click", function () {
               $("#wishItem_form").attr("action", "/api/order/cart");
               $("#wishItem_form").attr("method", "post");
            });
            $("#delete_wishItem_btn").on("click", function () {
                $('<input>').attr({
                    type: 'hidden',
                    id: 'delete_method',
                    name: '_method',
                    value: "delete"
                }).appendTo('#wishItem_form');
                $("#wishItem_form").attr("action", "/wishItem");
                $("#wishItem_form").attr("method", "post");

            });
            $("#get_product_btn").on("click", function () {
                $("#wishItem_form").attr("action", "/products");
                $("#wishItem_form").attr("method", "get");
            });
        });

    </script>

</th:block>
</html>
