<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main_layout">--><html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main_layout">
<th:block layout:fragment="html_head">
    <title>WishList</title>
</th:block>
<th:block layout:fragment="body_main">
    <br>
    <br>
    <br>
    <main role="main">
       <div class="container">
           <div class="row">
               <h1 class="my-4 font-weight-bold">Wish List</h1>
           </div>
           <br>

           <form id ="wish_list_form">

               <div class="row">
                   <table class="table table-striped text-center">
                       <thead>
                       <tr>
                           <th scope="col" colspan="2">상품명</th>
                           <th scope="col">가격</th>
                           <th scope="col"></th>
                       </tr>
                       </thead>
                       <tbody id="test1">
                           <tr th:each="wishItem, iterstat : ${wishList}">
                               <input type="hidden" name="prd_id" th:value="${wishItem.product.id}">
                               <td class="justify-content-center align-middle">
                                   <input type="hidden" name="image_id" th:value="${wishItem.product.thumbImages[0].id}">
                                   <img th:src="'/image/'+ ${wishItem.product.id}" src="/image/" alt="img1" class="img-thumbnail" height="100px" width="100px" align="right">
                               </td>
                               <td class="justify-content-center align-middle" align="left">
                                   <input type="hidden" name="prd_name" th:value="${wishItem.product.name}">
                                   <a th:href="@{'/products/' + ${wishItem.product.id}}"><span th:text="${wishItem.product.name}">product</span></a>
                               </td>
                               <td class="justify-content-center align-middle">
                                   <input type="hidden" name="prd_price" th:value="${wishItem.product.price}">
                                   <span th:text="${wishItem.product.price} + '원'">3000원</span>
                               </td>
                               <td class="justify-content-center align-middle">
                                   <div class="form-check">
                                       <input type="checkbox" name="wish_item_id" th:value="${wishItem.id}">
                                   </div>
                               </td>
                           </tr>
                       </tbody>
                   </table>
               </div>

               <div class="row justify-content-end">

                   <input id="post_cart_btn" class="btn btn-primary btn-sm" type="button" value="장바구니에 담기">
                   &nbsp;&nbsp;&nbsp;
                   <input id="delete_wish_list_btn" class="btn btn-secondary btn-sm" type="submit" value="선택 삭제">
               </div>
               <br>
               <div class="row justify-content-center">
                   <input id="get_product_btn" type="button" class="btn btn-secondary" value="계속 쇼핑하기">
               </div>
           </form>
       </div>

    </main>
</th:block>
<th:block layout:fragment="footer_script">
    <script>
        var cartApiUrl = "/api/order/cart";
        var cartUrl = "/order/cart";
        var productUrl = "/products";
        var sendDataArray = new Array();

        $(document).ready(function () {
            $("#post_cart_btn").on("click", function () {
                $("input[name=wish_item_id]").each(function (index) {
                    if(this.checked) {
                        var sendData = {
                            prdId : $("input[name=prd_id]")[index].value,
                            quantity: 1,
                            productName: $("input[name=prd_name]")[index].value,
                            price: $("input[name=prd_price]")[index].value,
                            imageId: $("input[name=image_id]")[index].value
                        };
                        sendDataArray.push(sendData);
                    }
                })
                sendJson(cartApiUrl, cartUrl, "장바구니로 이동하시겠습니까?", sendDataArray);
            });
            $("#delete_wish_list_btn").on("click", function () {
                $('<input>').attr({
                    type: 'hidden',
                    id: 'delete_method',
                    name: '_method',
                    value: "delete"
                }).appendTo('#wish_list_form');
                $("#wish_list_form").attr("action", "/wishlist");
                $("#wish_list_form").attr("method", "post");
            });
            $("#get_product_btn").on("click", function () {
                // $("#wish_list_form").attr("action", "/products");
                // $("#wish_list_form").attr("method", "get");
                location.href = productUrl;
            });
        });

        var sendJson = function(url, targetUrl, msg, sendData) {
            $.ajax({
                method: "POST",
                url: url,
                contentType: 'application/json',
                data: JSON.stringify(sendData)
            })
                .done(function() {
                    if(confirm(msg)){
                        location.href = targetUrl;
                    }
                })
                .fail(function (xhr) {
                    console.log(xhr);
                    alert("일시적인 장애가 발생하였습니다. 다시 시도해주세요.");
                });
        }

    </script>

</th:block>
</html>
